.loading {
	width: 300px;
	height: 150px;
	vertical-align: center;
	text-align: center;
	padding: 30px;
}

.loading_text {
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
	letter-spacing: -0.05em;
	color: #1f1f1f;
	display: block;
	margin-bottom: 30px;
	vertical-align: center;
}

.loginpanel {
	width: 700px;
	height: 200px;
	text-align: center;
	vertical-align: center;
	background: #FBFBFB;
	border: 1px solid #E6E7E7;
	padding: 15px;
	overflow: auto;
}