.maincontent {
	width: 500px;
	height: 310px;
}

.loading {
	width: 300px;
	height: 150px;
	vertical-align: center;
	text-align: center;
	padding: 30px;
}

.loading_text {
	font-family: 'Quicksand', sans-serif;
	font-size: 19px;
	letter-spacing: -0.05em;
	color: #1f1f1f;
	display: block;
	margin-bottom: 30px;
	vertical-align: center;
}

.popuppage {
	height: 220px;
	position: absolute;
	top: 71px;
	width: 490px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.loginpanel {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	background: #FBFBFB;
	border: 1px solid #E6E7E7;
	padding: 15px;
}

.pagecontentarea {
	width: 477px;
	height: 100%;
	text-align: left;
	vertical-align: center;
	border: 1px solid #E6E7E7;
	padding: 5px;
}

.device_defaulttext {
	font-weight: bold;
}

.device_othertext {
	font-weight: normal;
}

.device_namecolum {
	margin-top: 5px;
	padding-right: 15px;
}

.device_actcolum {
	width: 80px;
	margin-top: 5px;
}

.device_numcolum {
	width: 100px;
	margin-top: 5px;
}

.messagelist {
	max-height: 235px;
	overflow: auto;
	width: 180px;
	margin-left: 5px; border : none;
	float: left;
	border: none;
}

.selectable_element {
	background: #F0F0F0;
	border: 1px solid #E6E7E7;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #8F8F8F;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 0px 8px 8px;
	text-decoration: none;
	width: 170px;
}

.selectable_element_selected {
	background: #FBFBFB;
	border-color: #E6E7E7;
	border-style: solid none solid solid;
	border-width: 1px 0px 1px 1px;
	color: #424242;
	padding-bottom: 9px;
}

.message_view_window {
	max-height: 235px;
	width: 304px;
	border: 1px solid #E6E7E7;
	margin-left: -1;
	height: 235px;
	float: right;
	display: none;
}

.callscontainer {
	max-height: 235px;
	width: 304px;
	border: 1px solid #E6E7E7;
	margin-left: -1;
	height: 235px;
	float: right;
}

.conversationview {
	height: 105px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0px;
}

.conversationview_exisitingmsg {
	height: 165px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0px;
}

.incomingmessage {
	text-align: left;
	color: #6b6b6b;
	font-size: 11px;
	padding: 5px;
}

.incomingmessage span {
	text-align: left;
	width: 70%;
}

.outgoingmessage {
	background-color: #f6f6f6;
	text-align: right;
	font-size: 11px;
	padding: 5px;
}

.outgoingmessage span {
	text-align: left;
	width: 70%;
	overflow: inherit;
}

.notification {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0px;
	padding: 4px;

}

.fieldvalidator {
	height: 20px;
	position: absolute;
	float: right;
	width: 20px;
	top: 10px;
	display: none;
	right: 0px;
}

.missedcallcheckbox {
	float: left;
	margin-top: 2px;
	-webkit-appearance: checkbox;
}

.info {
	color: rgb(43, 43, 43);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255,
		234, 208) ), color-stop(100%, rgb(248, 209, 80) ) );
}

.error {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(185,
		123, 46) ), color-stop(100%, rgb(250, 63, 63) ) );
	color: rgb(231, 231, 231);
}

.ui-widget-header {
	border: 1px solid #f6f6f6;
	background: #f6f6f6;
	color: #ffffff;
	font-weight: bold;
}

.ui-widget-content {
	border: 1px solid #f6f6f6;
	color: #222222;
}

.ui-widget-header {
	font-size: 16px;
	color: #353535;
}

.recentSmsWithIcon {
	background: url('img/sms_icon.png') no-repeat top left
}

.smsheader {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 6px 1px;
	position: relative;
	top: 1px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	width: 35px;
	background: #1fa3e0;
	text-align: center;
}

.missedcallheader {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 6px 1px;
	position: relative;
	top: 1px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	background: #6bbd43;
	text-align: center;
}